.faqSection {
  .itemOverview {
    .react-tabs__tab-list {
      border: none;
      margin: 0;
      padding: 0;
    }

    .react-tabs__tab {
      border: 1px solid #e9ecef !important;
      border-radius: 5px;
      padding: 12px 30px;
      color: #77838f;
      margin-right: 20px;
      transition: all 0.2s linear;
    }

    .react-tabs__tab:hover,
    .react-tabs__tab--selected {
      background: #f16126;
      border-radius: 5px;
      padding: 12px 30px;
      color: #fff;
    }
    .react-tabs__tab-panel {
      margin-top: 50px;
    }
  }
}
